/*footer*/
.footer{
	width: 100%;
	height: 268px;
	background: #2d3237;
	z-index: 10;
	position: relative;
	top: 75px;
}
.footer .container{
	width: 1190px;
	margin: 0 auto;
	height: 262px;
	padding-top: 50px;
	position: relative;
}
.aboutus,.certification,.contactus,.followus{
	width: 262px;
	height: 138px;
	margin-right: 32px;
	float: left;
}
.footer .title{
	color: #fff;
	margin-bottom: 14px;
}
.aboutus,.certification,.contactus,.followus  p{
	height: 28px;
	line-height: 28px;
}
.certification .title{
	margin-bottom: 8px;
}
.certification p{
	float: left;
	
}
.certification  img{
	width: 43px;
	height: 44px;
	display:inline-block;
	margin-right: 6px;
	margin-bottom: 4px;
	float: left;
}
.footer .container .bottom{
	width: 1190px;
	position: absolute;
	bottom: 14px;
	text-align: center;
	font-size: 12px;
}
/*end footer*/